caffeine
dconf
fontforge
gtk-2.0
kernel.org
htop
MonoGame
mpv
pulse
ranger
dircolors
mimeapp.list
pavucontrol.ini
Trolltech.conf
user-dirs.dirs
user-dirs.locale
ImageMagick
xfce4
rosegardenmusic
rncbc.org
mimeapps.list
libreoffice
gtk-3.0
elinks
ardour3
archey3.cfg
Thunar
QtProject.conf
vim/viminfo*
